/*
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

/* variables */
:root {
  --white: rgb(255, 255, 255);
  --almost-black: rgb(10, 10, 10);
  --light-gray: rgba(243, 237, 237, 0.5);
  --gray: rgba(94, 94, 94, 0.233);
  --dark-gray: rgba(48, 48, 48, 0.623);
  --light-red: rgb(255, 137, 126);
  --red: rgb(241, 54, 36);
  --trans-red: rgba(156, 10, 10, 0.63);
  --dark-red: rgb(161, 34, 22);
  --light-blue: rgb(126, 160, 255);
  --blue: rgb(36, 108, 241);
  --dark-blue: rgb(31, 22, 161);
}

.redBorder {
  box-shadow: 0px 0px 0.8rem 0px var(--trans-red);
  border-color: var(--red);
}

.hidden {
  display: none;
}

.error-message {
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
  background-color: var(--light-red);
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-decoration: none;
  border: none;
}



/* behavioral class */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 10px;
}
.enabled {
  display: flex;
}
.disabled {
  display: none;
}
.overflow {
  overflow: auto;
  overflow-x: hidden;
}
.width-100 {
  width: 100%;
}



.left- {
  position: relative;
  left: -10px;
}
.justify-right {
  display: flex;
  justify-content: end;
}
.info-element {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: var(--dark-gray);
  display: flex;
  align-items: center;
}

.center {
  width: fit-content;
  margin: auto;
}

/* fix block */
h1 {
  font-family: "Roboto Condensed", sans-serif;
  size: 1em;
  margin: 0;
}
h2 {
  font-family: "Roboto", sans-serif;
  size: 0.1rem;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

/*header*/
.header {
  height: 3rem;
  background-color: var(--light-gray);
}
.header_nav {
  height: 100%;
  width: 28rem;
  display: flex;
  margin: auto;
}
.nav_element {
  margin: auto 2em auto 0.2em;
}
.nav_a {
  font-family: "Roboto", sans-serif;
  color: black;
  text-decoration: none;
}

/*section-------------*/
.section {
  margin: 2rem auto 2rem auto;
  padding: 1rem 1rem 2rem 1rem;
  box-shadow: 0px 0px 11px 0px #e6e6e6;
  width: 27em;
  height: fit-content;
}

.section_div {
  display: flex;
  align-items: center;
  width: 90%;
}

.text {
  width: fit-content;
  margin: auto;
}

.form_field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  height: 2.5em;
}

/*form-----------------*/
.gray_border {
  border: solid 1px var(--gray);
  border-radius: 2px;
}
.form_input {
  width: 100%;
  height: 1.8em;
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
}

.form_input-checkbox {
  margin: auto 10px auto 0;
}

.form_input-left {
  margin-right: 5px;
}

.form_label {
  min-width: fit-content;
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.form_submit {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

.form_checkbox {
  justify-content: flex-start;
}

.fit-content {
  width: fit-content;
}

/* btn */
.btn {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
}

.delete-btn {
  background-color: var(--light-red);
  color: var(--white);
}
.delete-btn:hover {
  background-color: var(--red);
}
.delete-btn:active {
  background-color: var(--dark-red);
}

.disabled-btn {
  filter: grayscale(100%);
}

.active-btn {
  background-color: var(--light-blue);
  color: var(--white);
}
.active-btn:hover {
  background-color: var(--blue);
}
.active-btn:active {
  background-color: var(--dark-blue);
}

.toggleBtn {
  height: 20px;
  width: 20px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
}

.toggleBtn:hover {
  background-color: var(--gray);
}
.toggleBtn:active {
  background-color: var(--dark-gray);
}

.toggleBtn img {
  height: 10px;
  margin: auto;
}

/*footer----------------*/
.footer {
  display: flex;
  margin-top: auto;
  height: 3rem;
  background-color: var(--light-gray);
}
.footer_div {
  margin: auto;
  flex-direction: column;
}
.footer_div i {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
}
.footer_div a {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
}
